fastapi==0.70.0
uvicorn==0.15.0
aiofiles==22.1.0

# This is now available on PyPI.org, so we'll be using that one going forward.
fastapi-chameleon==0.1.12
python-multipart
starlette==0.16.0

SQLAlchemy==1.4.39
progressbar2
python-dateutil==2.8.2
passlib==1.7.4